<html>
<head>
    <meta charset="utf-8">
    <title>{{ title }}</title>
    {{ entity_print_css }}
</head>
<body>
{# The footer is repeated on all pages and must be printed first. #}
<footer>
    {{  footer  }}
</footer>
{%  if cover_page  %}
<div class="cover-page">
    {{ cover_page }}
</div>
{%  endif  %}
{# The header is repeated after the cover page for all pages. #}
<header>
    {{  header  }}
</header>
<div class="page">
    {{ content }}
</div>
</body>
</html>